*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FARM METERS */

  .col-3{
    margin-right: -50px!important;  /*MQ!!!!*/
  }
  #meter{
    width: 300px!important;
  }
  #meter .card1 {
    width: 300px;
    height: 300px;
    background-color: #131212;
    background-image: linear-gradient(#131212 0%, #f52a2a 100%);
    color: white;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin: 0!important;
  }
  #meter .card2 {
    width: 300px;
    height: 300px;
    background-color: #08aeea;
    background-image: linear-gradient(180deg, #08aeea 0%, #2af598 100%);
    color: white;
    border-radius: 8px;
    padding: 1rem 1.5rem;
  }
  
  #container1 , #container2 , #container3 , #container4 {
    width: 200px;
    height: 130px;
    margin: 0 auto;
  }

  
  .description {
    margin-top: 2rem;
    font-size: 24px;
    text-align: center;
  }
  
  .progressbar__label {
    font-size: 2.5rem;
    transform: translate(-50%, 0) !important;
  }
  
  svg {
    height: 130px;
    width: 200px;
    fill: none;
    stroke: #fafafa;
    stroke-width: 15;
    stroke-linecap: round;
    filter: drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.5));
  }