/* XXL */

@media(max-width:1920px){
  .col-xl-3{
    margin-right: 0px!important;  /*MQ!!!!*/
  }
  #card1{
    margin-left: 200px;
  }
    /* NAVBAR-USER */

    .current-user{
        transform: translateX(1300px); /*mq needed*/
      }
        /* MAP */

    .map iframe{  
      height: 500px;
      width: 1100px;
      margin-top: 80px;
      margin-left: 17%;
  }
      
}


/* XL  */

@media(max-width:1399px){

    /* NAVBAR-USER */

    .current-user{
        transform: translateX(900px); /*mq needed*/
      }

    /* MAP */

    .map iframe{  
        height: 500px;
        width: 1100px;
        margin-top: 80px;
        margin-left: 8%;
    }

    /* FARM METER */

    .col-xl-3{
        margin-right: -20px!important;  /*MQ!!!!*/
      }
      #meter{
        width: 300px;
      }
      #meter .card1 {
        width: 270px;
        height: 270px;
      }
      #meter .card2 {
        width: 270px;
        height: 270px;
      }      
}

/* L */

@media(max-width:1199px){

        /* FARM METER */

        .col-lg-3{
            margin-right: -20px!important;  /*MQ!!!!*/
          }
          #meter{
            width: 300px;
          }
          #meter .card1 {
            width: 270px;
            height: 270px;
          }
          #meter .card2 {
            width: 270px;
            height: 270px;
          }     

          
    /* MAP */

    .map iframe{  
        height: 400px;
        width: 900px;
        margin-top: 80px;
        margin-left: 4%;
    }
}

/* M  */

@media(max-width:991px){

        /* FARM METER */

        .col-md-6{
            margin-right: 0px!important;  /*MQ!!!!*/
          }
          #meter{
            width: 300px;
          }
          #meter .card1 {
            width: 270px;
            height: 270px;
            transform: translateX(120px);
            margin-bottom: 10px!important;
          }
          #meter .card2 {
            width: 270px;
            height: 270px;
            margin-bottom: 10px!important;
          }  
              /* MAP */

    .map iframe{  
        height: 400px;
        width: 700px;
        margin-top: 80px;
        margin-left: 10%;
    }
}

/* S  */

@media(max-width:767px){

        /* FARM METER */

        .col-sm-6{
            margin-right: 0px!important;  /*MQ!!!!*/
          }
          #meter{
            width: 300px;
          }
          #meter .card1 {
            width: 270px;
            height: 270px;
            transform: translateX(40px);
            margin-bottom: 10px!important;
          }
          #meter .card2 {
            width: 270px;
            height: 270px;
            transform: translateX(10px);
            margin-bottom: 10px!important;
          }  

}

/* XS  */

@media(max-width:575px){

            /* FARM METER */

            .col-12{
                margin-right: 0px!important;  /*MQ!!!!*/
              }
              #meter{
                width: 300px;
              }
              #meter .card1 {
                width: 270px;
                height: 270px;
                margin-left: 100px!important;
                margin-bottom: 10px!important;
              }
              #meter .card2 {
                width: 270px;
                height: 270px;
                margin-left: 130px;
                margin-bottom: 10px!important;
              }
              
                         /* MAP */

    .map iframe{  
        height: 800px;
        width: 450px;
        margin-top: 80px;
        margin-left: 10%;
    }
}

/* XXS */

@media(max-width:412px){
    
}